#
# ESP32PP - MDK HW
#
CONFIG_GPSTXPIN=4
CONFIG_IC2SCLPIN=6
CONFIG_IC2SDAPIN=5
CONFIG_I2C_SLAVE_SCL_IO=10
CONFIG_I2C_SLAVE_SDA_IO=11
CONFIG_IR_RX_PIN=12
CONFIG_IR_TX_PIN=13
# end of ESP32PP
